.allContainer{
    background-color: #720455;
    padding: 3vh;
    height: 94%;
}
.option1,
.websiteTitle{
    color: #FFFFFF;
}
.websiteTitle{
    font-size: 32px;
    font-weight: 700;
}
.accountSection{
    position: absolute;
    bottom: 0px;
}
.name{
    font-size: 16px;
    color: #FFFFFF;
}