.allContainer{
    padding: 3vh;
    height: 58%;
    position: fixed;
    margin: 3vh -1vh;
    border-radius: 43px;
    border: #aaaaaa 1px solid;
}
.option1,
.websiteTitle{
    color: #222831;
}
.websiteTitle{
    font-size: 32px;
    font-weight: 700;
    margin: 2vh 0vh;
}
.accountSection{
    position: absolute;
    bottom: 18px;
}
.name{
    font-size: 16px;
    color: #222831;
}