<main class="mainContainer">
    <div class="loginContainer">
        <h1 class="registerButton">TalkEE Platform</h1>
        <div class="enterInfo">
            <p class="userName">Username or email address *</p>
            <input class="emailInput">
            <p class="password">Password *</p>
            <div class="passwordInputContainer" style="display: flex;
            gap: 1%;
            align-items: center;
            width: 103%;
        ">
                <input class="passwordInput" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" #passwordInput>
                <button mat-icon-button style="background: transparent; border: none;" class="togglePasswordButton" (click)="togglePasswordVisibility()" [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'">
                  <img [src]="hidePassword ? eyeOn : eyeOff" alt="Eye icon" class="logoImg">
                </button>
              </div>
        </div>
        <div class="rememberPassword">
            <div class="checkbox">
                <input type="checkbox"> 
                <p style="font-size: 12px; font-weight: 400; width: 100%; padding-left: 0.4vw; color: #FFFFFF;" >Remember me</p>
            </div>
            <!-- <p class="lostPassword">Lost your password?</p> -->
             <div class="signupSection">
                 <span class="userName">You don't have account?</span>
                 <p class="lostPassword" 
                 (click)="navigateToSignup()"
                 >Sign up</p>
             </div>
        </div>
        <button class="login">Log In</button>
    </div>
</main>